/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */


*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
 }

 body,html{
	height: 100%;
	width: 100%;
 }

 .container{ /*----This is for my text----*/
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content; center;
	align-items: center;
	font-size: 1vw; 
 }

 img{  /*----This is to left align my background image----*/
	width: 50vw;
	height: 100vh;
	display: block;
	object-fit: cover;
	object-position: center;
 }

 .container2{
	display: flex;
	height: 100vh;
 }

 .profile{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top:75px;
 }

 .profile img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: 8px solid white;
	margin-right: 20px;
	margin-left: 20px;
 }
#logo { /*----This is adjust my logo size----*/
	width: 200px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 30px;
}

.content{
	flex:1;
	padding: 35px;
	background-color: white;
}

h1 {
	font-family: "poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.5em; /*----This is for text size ----*/
    margin: 30px auto 20px auto; /*---- This is for space between logo and h1----*/
    color: #a57fc4;
	width: 50vw;
	text-align: center;
}

h2 {
	font-family: "poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 2em; /*----This is for text size ----*/
    line-height: 1.4;
    color: #3d294d;
    padding: 0px 0px;
    margin: 0px auto 20px auto;
	width: 50vw;
	text-align: center;
}

p {
	font-family: "poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.3em;
    line-height: 1.6;
    color: #3d294d;
	width: 50vw;
	text-align: center;
}
    
nav{ /*----This is my fixed nav bar----*/
	font-family: "poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.2em;
	width: 80%; /*----This is for responsiveness ----*/
	margin: 0 auto; /*----This centers the entire nav element inside the center div----*/
	/*border: dashed turquoise*/
	border-width: 3px 0; /*----This puts a 3 pixel border on top and bottom of the nav element, the zero eliminates the left and right sides of the border----*/
	text-align: center;
	margin-top: 2em; /*----This adds space above the nav element----*/
	position: fixed; /*----This makes my nav bar fixed----*/
	background-color: white; /*----This is my fixed nav bar background color----*/
	top: -40px; /*----This makes my fixed nav bar stay at the top----*/
	width: 100%; /*----This applies my fixed nav bar across the screen----*/

}

nav li{
	display: inline; /*----This allows the block level elements to display next to one another----*/
	padding: 20px;
	}	

nav a{
	display: inline-block;
	padding: 30px; /*----This adds space around each of the links----*/
	}

a{
	color: #3d294d;
	text-decoration: none;/*----This removes the underline----*/
	font-weight: bold;
	}

a:hover{
	color: #3d294d;
	background:rgba(205, 178, 225, 0.859); /*----This uses opacity of 50% for the background color----*/
	padding-top: 10px;
	padding-bottom: 10px;
}
 